<!doctype HTML>
<html>
<head> 
	<meat charset ="utf-8">
	<link rel="stylesheet" href="../public/css/style.css">	
</head>
<body>


	<div class="login" >
		<form action="/profile/login" method="post">
		<legend>Log in</legend>
		<input type="text" name="usName" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" name="Enter">
		</form>
	</div>
	<p>For registration click <a href='<%= url %>' > here </a> </p>

</body>
</html>