<!doctype HTML>
<html>
<head> 
	<meat charset ="utf-8">
   <link rel="stylesheet" href="../public/css/style.css">   
</head>
<body>
	<div id="wrapper">
        <form action="" method="post">
            <fieldset>
                <legend>Register Form</legend>
                <div>
                    <input type="text" name="first_name" placeholder="First Name"/>
                </div>
                <div>
                    <input type="text" name="last_name" placeholder="Last Name"/>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password"/>
                </div>
                <div>
                    <input type="text" name="username" placeholder="Username"/>
                </div>
                <div>
                <input type="submit" name="submit" value="Send"/>
                  
        </form>
    </div>
</form>
</body>
</html>